[submodule "themes/colordrop"]
	path = themes/colordrop
	url = https://github.com/humrochagf/colordrop

[submodule "public"]
	path = public
	url = git@github.com:Glushiator/www.morayromeroauditores.cl.git
